/*-- scss:defaults --*/

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Nunito:wght@300&display=swap');

// Colors
$dark-blue: #00008B;
$slate-grey: #708090;
$white-smoke: #F5F5F5;
$steel-blue: #4682B4;
$alice-blue: #F0F8FF;
$deep-sky-blue: #00BFFF;
$cornflower-blue: #6495ED;


// Base Document Colors
$navbar-bg: $steel-blue;
$body-bg: $alice-blue;


/*-- scss:rules --*/



